body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Full viewport height */
    margin: 0;              /* Remove default margin */
    background-color: #ffecb6;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#maze {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #e6c095;
    border: 5px solid #b17e45;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f7d80f;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

#goal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    
    z-index: 1;
    bottom: 0;
    right: 0;
  }

.wall {
    background-color: #b17e45;
}

#timer-container {
    font-family: Sniglet;
    font-size: 20px;
    font-weight: bold;
    color: #b17e45;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 70px; /* Distance from the top of the page */
    left: 50%; /* Position horizontally at 50% of the page */
    transform: translateX(-50%); /* Adjust to center the element */
}

#timer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

@font-face {
    font-family: "Sniglet";
    src: url("../images/Sniglet-Regular.ttf");
}

#cloud1 {
    background-image: url('../images/Cloud_.png');
    background-size: cover;  /* Ensures the image covers the div */
    background-position: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

#cloud2 {
    background-image: url('../images/Cloud_.png');
    background-size: cover;  /* Ensures the image covers the div */
    background-position: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

#fire1 {
    background-color: red;
    display: none; /* Start hidden */
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}
#fire2 {
    background-color: red;
    display: none; /* Start hidden */
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

#fire3 {
    background-color: red;
    display: none; /* Start hidden */
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

/* Game Instructions Pop Up */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    padding-top: 100px;
    box-sizing: border-box;
}

.modal-content {
    background-color: #ffecb6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

#start-game-btn img {
    width: 150px;
    height: auto;
    cursor: pointer;
}

#start-game-btn {
    border: none;
    background-color: transparent;
    opacity: 80%;
}

#start-game-btn:hover {
    opacity: 100%;
}

#logo-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#logo {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 0px;       /* Add space between the timer and the image */
}

#game-logo {
    width: 100px;  /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
}