body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Full viewport height */
    margin: 0;              /* Remove default margin */
    background-color: #ffecb6;
}

.start-page-container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    gap: 20px; /* Space between the containers */
}

.img {
    width: 100%;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.start-elements-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#button {
    padding: 0;
    border: none;
    background: none;
    height: auto;
    width: auto;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#maze {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #e6c095;
    border: 5px solid #b17e45;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f7d80f;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

#goal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e3928f;
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 0;
  }

.wall {
    background-color: #b17e45;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    color: #f7d80f;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 1px; /* Distance from the top of the page */
    left: 50%; /* Position horizontally at 50% of the page */
    transform: translateX(-50%); /* Adjust to center the element */
}

#cloud {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #b9b9b9;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}