body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 100vh;          /* Full viewport height */
    margin: 0;              /* Remove default margin */
    background-color: #ffecb6;
}

.logo {
    width: 100%;
    height: auto;
}

.logo-container {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#maze {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #de7c31;
    border: 5px solid #944e19;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f7d80f;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s;
}

#goal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e3928f;
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    right: 0;
  }

  .wall {
    background-color: #944e19;
  }